
  .gridList{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    align-content: center;
   justify-content: center;
    gap:17px;
  }


  .btn {
    width:200px;
    height: 50px;
    background:rgba(27, 37, 164, 0.4);
    font:20px bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .weather__icon{
    width: 60px;
    height: 60px;
    top: 0px;
    transform: translateY(0%);
    left: 0;
}
.day{
  text-align: center;
  /* border: 1px solid; */
  width: 210px;
  padding:7px;
  background-color:  rgba(27, 37, 164, 0.4);
  border-radius: 5px;
  box-shadow: 0 0px 10px #111;
}

.info{
  font-size: 18px;
  font-weight: bold;
}